@use 'text';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto;
  scroll-behavior: smooth;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  button:hover {
    @include text.buttonHover;
  }
}

// ---------Navbar
header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 8.6rem;

  .brand {
    color: #37447e;
    font-size: 26px;
    font-weight: 900;
    text-decoration: none;
  }

  ul {
    display: flex;

    li {
      font-weight: 500;
      list-style: none;

      &:nth-child(2),
      &:nth-child(3) {
        padding-left: 2rem;
      }

      a {
        color: #505f98;
        text-decoration: none;
        font-size: 14px;

        &:focus {
          color: black;
        }
      }
    }
  }

  .buy-now-btn {
    @include text.buttonStyle;
    font-size: 12px;
    height: 26px;
    margin-top: 0;
    padding: 0;
    width: 160px;

    &:focus {
      outline: none;
    }
  }
}

//---------Home page
#home {
  height: 100vh;
  position: relative;

  .introduction {
    left: 9%;
    position: absolute;
    top: 12%;

    h1 {
      color: #141719;
      font-size: 50px;
      font-weight: 500;
      line-height: 66px;
      letter-spacing: 1px;
      padding-bottom: 1.2rem;
    }

    p {
      @include text.paragraph;
      color: #505f98;
      font-size: 18px;
      line-height: 30px;
    }

    .purchase-btn,
    .more-btn {
      border: none;
      border-radius: 2px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      height: 36px;
      padding: 0;
      transition: 0.3s;
      width: 189.13px;
    }

    &:focus {
      outline: none;
    }

    .purchase-btn {
      background-color: #111b47;
      border: 2px solid transparent;
      color: #ffffff;
    }

    .more-btn {
      background-color: transparent;
      border: 2px solid #141719;
      color: #141719;
      margin-left: 1.4rem;
    }
  }

  img {
    position: absolute;
    right: -2.3rem;
    transform: scale(0.7);
    top: -7rem;
    z-index: -1;
  }
}

// ------------Features section
#features {
  padding-top: 3.2rem;
}

.feature-description {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 2rem 5rem;

  .feature-info {
    max-width: 600px;

    h2 {
      @include text.heading;
    }

    p {
      @include text.paragraph;
    }
  }

  .feature-box {
    display: flex;
    padding-top: 2rem;

    div {
      padding-right: 5px;

      h3 {
        line-height: 26px;
        padding: 8px 0;
      }

      p {
        font-size: 12px;
        line-height: 18px;
      }

      img {
        height: 36px;
        width: 255px;
      }
    }
  }
}

.individual-feature {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 6rem 5rem;

  h2 {
    @include text.heading;
  }

  p {
    @include text.paragraph;
    padding-bottom: 10px;
  }

  button {
    @include text.buttonStyle;
    font-size: 14px;
    height: 32px;
    padding: 0;
    width: 150px;

    &:focus {
      outline: none;
    }
  }
}

// ---------------------------Price section
#pricing {
  align-items: center;
  background: url('../img/wave.svg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  padding-bottom: 11rem;

  .pricing-heading {
    @include text.heading;
    padding: 13rem 0 1rem 0;
  }

  .pricing-info {
    @include text.paragraph;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 0;
  }

  .price {
    padding: 3.5rem 0;

    h2 {
      color: #222f65;
      font-size: 50px;
      line-height: 66px;
    }

    p {
      color: #37447e;
      line-height: 26px;
    }
  }

  .price-type {
    font-size: 14px;
  }

  button {
    @include text.buttonStyle;
    font-size: 14px;
    height: 31.81px;
    padding: 0;
    width: 189px;

    &:focus {
      outline: none;
    }
  }
}

// --------Footer
footer {
  background-color: #e7ecff;

  .brand {
    align-items: center;
    border-bottom: 1px solid #cdd1d4;
    display: flex;
    justify-content: space-between;
    margin: 0 13rem;
    padding: 3rem 0rem;

    p {
      color: #939ea4;
      font-size: 14px;
      line-height: 24px;
    }

    a {
      font-size: 26px;
      font-weight: 900;
      line-height: 38px;
      text-decoration: none;
    }

    button {
      @include text.buttonStyle;
      font-size: 12px;
      height: 26px;
      line-height: 18px;
      padding: 0;
      width: 109px;

      &:focus {
        outline: none;
      }
    }
  }

  .link {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem 13rem;

    .navlinks {
      display: flex;
      li {
        color: #505f98;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        list-style: none;

        &:nth-child(2),
        &:nth-child(3) {
          padding-left: 2rem;
        }

        a {
          text-decoration: none;
          color: #929ecc;
        }
      }
    }

    img {
      padding-left: 25px;
      cursor: pointer;
    }

    img:hover {
      filter: brightness(50%);
      transition: 0.2s;
    }
  }
}
